/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Actual Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #BCE0FD; /* Light blue background */
    margin: 0; /* Remove default body margin */
}

.header {
    background-color: white; /* White header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure the header is above other content */
}

.logos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.logo-left,
.logo-right {
    max-width: 100px;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px; /* Adjust the gap between header and buttons */
}

.button {
    display: block; /* Ensure each button takes up full width */
    padding: 20px 30px; /* Adjust the button height */
    margin: 20px auto; /* Center the buttons horizontally */
    border: none;
    border-radius: 5px;
    background-color: #004E98;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    width: calc(25% - 40px); /* Adjust button width */
    max-width: 300px;
}

.button:hover {
    background-color: #003366;
}

.footer {
    position: fixed; /* Fixed position to stick footer at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; /* White background color for the footer */
    z-index: 3; /* Ensure footer appears above other content */
    padding: 20px 0; /* Add padding to top and bottom */
    text-align: center; /* Center the content horizontally */
    display: none; /* Hide the footer initially */
}

.footer-image {
    max-width: calc(100% - 40px); /* Fit the width within the screen with margin */
    margin: 0 auto; /* Center the image horizontally */
}
