/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Actual Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #BCE0FD; /* Light blue background */
}

.header {
    background-color: white; /* White header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure the header is above other content */
}

.logos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.logo-left,
.logo-right {
    max-width: 100px;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to next line */
    justify-content: center;
    align-items: flex-start; /* Align buttons to the top */
    margin-top: 100px; /* Add top margin for spacing */
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: #004E98;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    width: calc(33% - 40px); /* Set width for 3 buttons in a row with spacing */
    max-width: 300px;
    height: 150px;
}

.button:hover {
    background-color: #003366;
}

@media screen and (max-width: 768px) {
    .button {
        width: calc(50% - 40px); /* Set width for 2 buttons in a row with spacing on smaller screens */
    }
}
