/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Actual Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #BCE0FD; /* Light blue background */
    margin: 0; /* Remove default body margin */
}

.header {
    background-color: white; /* White header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure the header is above other content */
}

.logos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.logo-left,
.logo-right {
    max-width: 100px;
    height: auto;
}

.container {
    margin-top: 150px;
    padding: 0 20px; /* Add padding to container */
}

.button {
    display: block; /* Change to block to display buttons in a list */
    padding: 15px 30px;
    margin: 20px auto; /* Center the buttons horizontally */
    border: none;
    border-radius: 5px;
    background-color: #004E98;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    max-width: 300px;
    height: 100px; /* Specify the height of the buttons */
}

.footer {
    position: fixed; /* Fixed position to stick footer at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; /* White background color for the footer */
    z-index: 3; /* Ensure footer appears above other content */
    padding: 20px 0; /* Add padding to top and bottom */
    text-align: center; /* Center the content horizontally */
}

.footer-image {
    max-width: calc(100% - 40px); /* Fit the width within the screen with margin */
    margin: 0 auto; /* Center the image horizontally */
}
